<!-- reviews-index -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
</head>
<h1 class="title">Movie reviews</h1>

<a class="new-review" href="/reviews/new">New Review</a>

<div class="row">
    {{#each reviews}}
    <div class="col-sm-3">
        <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
        <small>{{this.movieTitle}}</small>
    </div>
    {{/each}}
</div>

<style>

.title, .new-review {
    font-family: 'Noto Serif JP', sans-serif;
    
}

</style>